
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

.mousefollower{
    border: 2px solid #fff;
    background-color: #fff;
    scale: 2;
    mix-blend-mode: difference;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

#line1-part1 h5 {
    width: 5vw;
    text-align: right;

}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        font-weight: 700;
        opacity: 1;
    }

    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        font-weight: 700;
        opacity: 0;
    }
}


#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    height: 115vh;
    width: 100%;
    background-color: #151515;
}

#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

nav #nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    /* overflow-x: visible; */
    /* overflow: auto; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    position: relative;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -13%;
    top: 1%;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
}
.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    font-weight: 500;
    color: transparent;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
    background-color: #151515;
}

#video-container{
    height: 66vh;
    width: 72vw;
    position: relative;
    left: 28%;
    background-size: cover;
    background-position: center;
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #ffa63d;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -18%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 17vh 2vw;
    background-color: #151515;
    margin-bottom: 25vh;
    margin-top: 25vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -12%;
    top: 8%;
}

#page3 .underline{
    margin-left: 28vw;
}

#image-div-container{
    padding: 1vw;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
}

.image-div:nth-child(1){
    height: 29vw;
    width: 21vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10vw;
    margin-top: 23vh;
}

.page3-circle1 svg{
    height: 30%;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-left: 10vw; */
    /* margin-top: 23vh; */
}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all ease 0.5s;
}

.circle-in p{
    font-size: 0.95vw;
    color: black;
    width: 60%;
    font-weight: 500;
    scale:0;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(61,61,61); */
    position: relative;
    padding: 7vh 0;
    background-color: #151515;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -12%;
    top: 8%;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3f7df4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -38vh;
    margin-left: 26vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4{
    font-size: 1.8vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
    font-size: 1vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}

.elem{
    white-space: nowrap;
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: animate;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animate {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space: nowrap;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color:transparent;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: animate;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

footer{
    height: 80vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
    background-color: #151515;
}

footer h1{
    font-size: 7vw;
    text-transform: uppercase;
}

footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: 18%;
    top: 2%;
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #d3d3d3;
    margin: 3vw 0;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 5vw;
}

#footer-div h6{
    font-size: 1vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

#footer-div h5{
    font-size: 1.5vw;
    font-weight: 500;
    /* margin: 0.1vh 0; */
}

.box{
    width: 20%;
}

footer>h5{
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}